body {
    min-width: 1170px;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}

.container {
    min-width: 1070px;
    margin: 0px auto;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: black;
}

a:hover {
    color: blueviolet;
}

.menu a{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 70px;
    color:#8A8C91;
}

header .navbar-light{
    background-color: white;
}
header .navbar-brand {
    margin-left: 15px;
    font-weight: bold;
    font-size: 25px;
    color: #ADAE82 !important; 
} 

header .nav-item {
    margin-left: 12px;
}

header .navbar-brand-1 {
    width: 35px;
    height: 35px;
    margin-right: 5px;
    position: absolute;
    left: 0px;
    top: 10px;
}

header .navbar-brand-2 {
    width: 35px;
    height: 35px;
    margin-left: 50px;
    line-height: 30px;
}

header .navbar-brand-3 {
    width: 55px;
    height: 55px;
    margin-left: 70px;
}

header .navbar-brand-4 {
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
    color: rgb(57, 57,57) !important;
    margin-top: 20px;
}

hr {
    margin-top: 0px;
}

.container h4 {
    width: 450px;
    height: 100px;
    margin-top: 70px;
    display: inline-block;

}




























    /* Extra Small */
@media only screen  and (max-width : 480px) {
    /* стили */
    }
    
    /* Smartphones  ----------- */
@media only screen and (max-width: 767px) {
    /* стили */
    }
    
    /* Smartphones  ----------- */
@media only screen and (max-width: 768px) {
    /* стили */
    }

    /* Настольные компьютеры и ноутбуки ----------- */
    @media only screen  and (max-width: 991px) {
        /* стили */
    }

    /* Настольные компьютеры и ноутбуки ----------- */
    @media only screen  and (max-width: 992px) {
        /* стили */
    }
    /* Настольные компьютеры и ноутбуки ----------- */
@media only screen  and (max-width: 1199px) {
    /* стили */
}
    
    /* Большие экраны ----------- */
@media only screen  and (max-width: 1200px) {
    /* стили */
    }