body {
    min-width: 1170px;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}

/* Первый блок */

.container {
    min-width: 1170px;
    margin: 0px auto;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: black;
}

a:hover {
    color: azure;
}

.menu a{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 70px;
    color:#8A8C91;
}

header .navbar-light{
    background-color: white;
}
header .navbar-brand {
    margin-top: -3px;
    margin-left: -5px;
    font-weight: bold;
    font-size: 25px;
    color: #ADAE82 !important; 
} 

header .nav-item {
    margin-left: 12px;
}

header .navbar-brand-1 {
    width: 35px;
    height: 35px;
    margin-right: 5px;
    margin-left: -20px;
    margin-top: -2px;
    position: absolute;
    left: 0px;
    top: 10px;
}

header .navbar-brand-2 {
    width: 35px;
    height: 35px;
    margin-left: 50px;
    line-height: 30px;
}

header .navbar-brand-3 {
    width: 55px;
    height: 55px;
    margin-left: 70px;
}

header .navbar-brand-4 {
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
    color: rgb(57, 57,57) !important;
    margin-top: 20px;
}

hr {
    margin-top: 0px;
}

.first h4 {
    width: 350px;
    height: 100px;
    margin-top: 80px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 18px;
    color: rgb(57, 57,57)


}
.first .imgclass {
    width: 60%;
    height: 60%;
    margin-top: -375px;
    margin-left: 430px;

}
.first .imgclass1 {
    margin-top: -35px;
    width: 28%;
    height: 30%;

}

.first p {
    text-align: center;
    width: 31%;
    height: 50%;
    margin-top: 35px;
    margin-left: -10px;
    color: #686954;
    font-family: Roboto;
    font-size: 14px;
}
a.button28 {
    position: relative;
    display: inline-block;
    font-size: 70%;
    font-weight: 700;
    color: rgb(240, 235, 235);
    text-decoration: none;
    text-shadow: 0 -1px 2px rgba(255, 255, 255, 0.2);
    padding: .5em 1em;
    margin-top: 40px;
    margin-left: 69px;
    outline: none;
    border-radius: 50px;
    background: linear-gradient(#ADAE82, rgb(81,81,86)) rgb(110,112,120);
    box-shadow:
     0 1px #ADAE82 inset,
     0 3px 5px rgba(0,1,6,.5),
     0 0 1px 1px rgba(0,1,6,.2);
    transition: .2s ease-in-out;
  }
  a.button28:hover:not(:active) {
    background: linear-gradient(#ADAE82, rgb(51, 49, 34)) rgb(131, 107, 46);
  }
  a.button28:active {
    top: 1px;
    background: linear-gradient(rgb(76,77,82), rgb(56,57,62)) rgb(76,77,82);
    box-shadow:
     0 0 1px rgba(0,0,0,.5) inset,
     0 2px 3px rgba(0,0,0,.5) inset,
     0 1px 1px rgba(255,255,255,.1);
  }

  /* Второй блок */

.section {
    width: 100%;
    height: 450px;
    background:url(../img/background2.png) ;
}

.section1 {
    width: 100%;
    height: 350px;
    background-color: white;
}

#circle0 {
    border-radius: 100%;
    margin-top: 60px;
    margin-left: 10px;
    height: 280px;
    width: 280px;
}

#circle1 {
    border-radius: 100%;
    margin-top: 60px;
    margin-left: 110px;
    height: 290px;
    width: 290px;
} 

.circle2 {
    border-radius: 100%;
    margin-top: 52px;
    margin-left: 110px;
    height: 290px;
    width: 290px;
} 


.container h2 {
    font-weight: bold;
    font-family: Tahoma;
    color: black;
    font-size: 28px;
    letter-spacing: 0.3em;
}

.designation {
    margin-top: -70px;
    margin-left: 0px;
    font-family: Tahoma;
	font-size: 24px;
	color: #FFFFFF;
	text-shadow: 
		-0   -2px 0   #1F211E,
		 0   -2px 0   #1F211E,
		-0    2px 0   #1F211E,
		 0    2px 0   #1F211E,
		-2px -0   0   #1F211E,
		 2px -0   0   #1F211E,
		-2px  0   0   #1F211E,
		 2px  0   0   #1F211E,
		-1px -2px 0   #1F211E,
		 1px -2px 0   #1F211E,
		-1px  2px 0   #1F211E,
		 1px  2px 0   #1F211E,
		-2px -1px 0   #1F211E,
		 2px -1px 0   #1F211E,
		-2px  1px 0   #1F211E,
		 2px  1px 0   #1F211E,
		-2px -2px 0   #1F211E,
		 2px -2px 0   #1F211E,
		-2px  2px 0   #1F211E,
		 2px  2px 0   #1F211E,
		-2px -2px 0   #1F211E,
		 2px -2px 0   #1F211E,
		-2px  2px 0   #1F211E,
		 2px  2px 0   #1F211E;
}
    

#s1 {
    display: inline-block;
}

#s2 {
    display: inline-block;
    margin-left: 9.5%;
}

#s3 {
    margin-bottom: 33px;
}

#s3 {
    display: inline-block;
    margin-left: 77.5%;
    margin-top: 62px;
    margin-bottom: 20px;
    font-family: Tahoma;
	font-size: 24px;
	color: #FFFFFF;
	text-shadow: 
		-0   -2px 0   #1F211E,
		 0   -2px 0   #1F211E,
		-0    2px 0   #1F211E,
		 0    2px 0   #1F211E,
		-2px -0   0   #1F211E,
		 2px -0   0   #1F211E,
		-2px  0   0   #1F211E,
		 2px  0   0   #1F211E,
		-1px -2px 0   #1F211E,
		 1px -2px 0   #1F211E,
		-1px  2px 0   #1F211E,
		 1px  2px 0   #1F211E,
		-2px -1px 0   #1F211E,
		 2px -1px 0   #1F211E,
		-2px  1px 0   #1F211E,
		 2px  1px 0   #1F211E,
		-2px -2px 0   #1F211E,
		 2px -2px 0   #1F211E,
		-2px  2px 0   #1F211E,
		 2px  2px 0   #1F211E,
		-2px -2px 0   #1F211E,
		 2px -2px 0   #1F211E,
		-2px  2px 0   #1F211E,
		 2px  2px 0   #1F211E;
}

#p1 {
    margin-left: 2%;
    margin-top: 240px;
    font-size: 15px;
    font-weight: bold;
}

#p2 {
    margin-left: 38%;
    margin-top: -128px;
    font-size: 15px;
    font-weight: bold;
}

#p3 {
    margin-left: 77%;
    margin-top: -107px;
    font-size: 15px;
    font-weight: bold;
}

.cont2 {
    padding-left: 25px;
}































@media only screen and (min-width: 767px) {
    .container {
    min-width: 1070px;
    margin: 0px auto;
    }
    .cont2 {
        min-width: 1170px;
        margin: 0px auto;
        }
}


/* 
@media screen and (min-width: 300px) and (max-width: 768px){

    .container h2 {
        margin-left: 90px;
    }
    #s1 {
        display: inline-block;
        margin-left: 100px;
    }
    #s2 {
        display: inline-block;
        margin-left: 100px;
    }
    
    #circle0 {
        border-radius: 100%;
        margin-top: 50px;
        margin-left: 55px;
        height: 280px;
        width: 280px;
    }
    
    #circle1 {
        border-radius: 100%;
        margin-top: 50px;
        margin-left: 140px;
        height: 290px;
        width: 290px;
    } 
    
    .circle2 {
        border-radius: 100%;
        margin-top: 42px;
        margin-left: 0px;
        height: 290px;
        width: 290px;
    } 

} */